* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 {
    font-weight: 700;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 0%;
}

form {
    float: left;
}

.currentResults {
    width: 60%;
    height: 40%;
    border: black solid 2px;
    float: right;
    
}

.fiveDayResults {
    width: 60%;
    height: 30%;
    float:right;
    display: flex;
}

card {
    width: 10%;
    height: 30%;
    margin: 10px;
    border: black solid 2px;

}